.type-first-letters {
    display: flex;
    align-items: center;
    font-size: 1.5em;
}

.type-first-letters > div {
    flex: 9;
    margin-block: 1em;
    height: 1.5em;
    margin-inline: 1em;
    border: 1px solid black;
}

.type-first-letters > button {
    flex: 1;
    height: 3em;
}
