.typebox {
    display: flex;
    align-items: center;
    font-size: 1.5em;
}

.typebox > div {
    flex: 9;
    margin-block: 1em;
    min-height: 1.5em;
    margin-inline: 1em;
    border: 2px inset rgb(118, 118, 118);
}

.nightmode .typebox > div {
    background-color: rgb(59, 59, 59);
    border-color: rgb(133, 133, 133);
}

.typebox > button {
    flex: 1;
    min-height: 3em;
}

.typebox > div > span {
    display: inline-block;
}

.correct-section {
    background-color: #afa;
    color: black;
}

.wrong-section {
    background-color: #faa;
    color: black;
}
