.typebox {
    display: flex;
    align-items: center;
    font-size: 1.5em;
}

.typebox > div {
    flex: 9;
    margin-block: 1em;
    height: 1.5em;
    margin-inline: 1em;
    border: 1px solid black;
}

.typebox > button {
    flex: 1;
    height: 3em;
}

.typebox > div > span {
    display: inline-block;
}
